@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assessment Task</h1>
    <p class="lead">Click on the menu items to manage lecturers, degrees, students and courses.</p>

</div>

